plan.md
security.md
.python-version
design.md
.clangd
.clang-uml
# diagram produced bt clang-uml
diagrams/
.devenv
.devenv.flake.nix
.envrc
.cache
.pre-commit-config.yaml
notes.md
build/
__pycache__/
*.pyc
/remote_compile.json
