[Unit]
Description=Webshot crawler bridge network
PartOf=webshot-stack.target
PartOf=webshot-prod-stack.target

[Network]
NetworkName=crawler_net
Subnet=192.0.2.0/24
NetworkDeleteOnStop=true
