[Unit]
Description=Webshot nginx reverse proxy for Scalar UI
After=webshot-crawler-network.service
After=webshot-scalar.service
Requires=webshot-crawler-network.service
Requires=webshot-scalar.service
PartOf=webshot-debug-stack.target
PartOf=webshot-prod-debug-stack.target

[Service]
Restart=on-failure

[Container]
ContainerName=webshot_reverse_proxy
Image=docker.io/nginx:alpine
PublishPort=8085:80
Network=crawler_net
AddHost=host.containers.internal:host-gateway
Volume=${WEBSHOT_ROOT}/containers/nginx.conf:/etc/nginx/conf.d/default.conf:ro
Volume=${WEBSHOT_ROOT}/schemas:/data/openapi:ro
